# Ignore everything
/*

# Except these files & folders
!/app
!/pages
!.eslintrc.json
!.prettierrc
!tsconfig.json
!next.config.js
!package.json
!postcss.config.js
!tailwind.config.js
!/lib
!README.md
!CHANGELOG.md